@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../image/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(../image/../image/MaterialIcons-Regular.woff2) format("woff2"),
    url(../image/MaterialIcons-Regular.woff) format("woff"),
    url(../image/MaterialIcons-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'iconfont';  /* project id 1927053 */
  src: url('//at.alicdn.com/t/font_1927053_yig5cfi4109.eot');
  src: url('//at.alicdn.com/t/font_1927053_yig5cfi4109.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1927053_yig5cfi4109.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1927053_yig5cfi4109.woff') format('woff'),
  url('//at.alicdn.com/t/font_1927053_yig5cfi4109.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1927053_yig5cfi4109.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:18px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
